* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header */
.header {
    width: 1695px;
    height: 837px;
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;

}

/* navigation style */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    width: fit-content;
    height: 35px;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 15px;
    color: white;
    background-color: #FD6E0A;
    border: 0;
    border-radius: 3px;
}

/* banner styles */
.banner {
    display: flex;
    margin: 0 0 0 200px;
    align-items: center;
}

.btn-secondary {
    width: fit-content;
    height: 35px;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 15px;
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 3px;
    margin-left: 30px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* About section styles */
.about {
    margin: 130px 0;
    text-align: center;
    padding: 130px 150px ;
    background-color:#FFF8F3 ;
    border-radius: 10px;
}

.section-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;

}
.about-info{
    display: flex;
    justify-content: space-around;
}
.ititle{
    font-size: 20px;
    color: #757575;
}
.idescrib{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* What i do section */
.whatido{
    display: flex;
}